#upload-song-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

#upload-song-form-container{
    margin: 0 auto;
    width: 30em;
    padding-top: 5em;
    padding-bottom: 4em;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#upload-song-form-title {
    /* padding-bottom: 20px; */
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #FF5500;
    color: white;
    border: #FF5500;
}
#upload-song-form-title::placeholder {
    color: white;
}

#upload-song-file{
    /* width: 50%; */
    /* margin: auto; */
    overflow: hidden;
    height: 50px;
    /* color: transparent; */
    margin-bottom: 20px;
}

#upload-song-file::file-selector-button{
    color: white;
    background-color: #FF5500;
    border: #FF5500;
    text-decoration: none;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

#submit-upload-song {
    background-color: #FF5500;
    border: none;
    border-radius: 5px;
    width: fit-content;
    font-size: 15px;
    color: white;
    margin: auto;
    padding: 7px;
}
