#song-flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: flex-start;
    justify-content: flex-start;
}
.song-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: purple;
    /* overflow-x: scroll; */
    min-width: 170px;
    min-height: 170px;
    border-radius: 20px;
    margin: 1%;
}
.hip-hop {
    background-color: darkblue;
}
.rnb {
    background-color: blue;
}
.pop {
    background-color: purple;
}
.metal {
    background-color: rgb(128, 125, 125);
}
.jazz {
    background-color: pink;
}
.country {
    background-color: brown;
}
.edm {
    background-color: silver;
}
.rock {
    background-color: red;
}

.uploader-name {
    border: none;
    color: white;
    margin-bottom: 10px;
}


.song-title {
    font-size: 20px;
    margin-top: 10px;
    border: none;
    color: white;
}
.song-title:hover {
    cursor: pointer;
}

.button-img-container {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    /* color: white; */
}
.button-img-container {
    cursor: pointer;
}
.play-button-img {
    width: 35px;
    color: white;
}
.play-button-img:hover{
    cursor: pointer;
}
#page-container {
    width: 60%;
    margin-top: 5%;
    margin-bottom: 6%;
    padding-left: 15%;
}
#about-me {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    right: 10%;
}
#dev-names {
    text-decoration: none;
    color: black;
}
#about-me-h3 {
    text-decoration: underline;
    padding: 0px;
    margin: 0;
}
