#signup-form-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

#signup-form{
    margin: 0 auto;
    width: 30em;
    padding-top: 5em;
    padding-bottom: 4em;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#signup-username{
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #FF5500;
    color: white;
    border: #FF5500;
}

#signup-username::placeholder{
    color: white;
}

#signup-email{
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #FF5500;
    color: white;
    border: #FF5500;
}

#signup-email::placeholder{
    color: white;
}

#signup-password{
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #FF5500;
    color: white;
    border: #FF5500;
}

#signup-password::placeholder{
    color: white;
}

#signup-submit {
    background-color: #FF5500;
    border: none;
    border-radius: 5px;
    width: fit-content;
    font-size: 15px;
    color: white;
    margin: auto;
    padding: 7px;
}

.errors {
    color: red;
    font-weight: bold;
    font-size: large;
}
